<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="style.css">
</head>

<body>
    Home
    <ul>
        <li>
            <a href="/usuaris">Lista Usuaris</a>
        </li>
        <li>
            <a href="/recursos">Lista Recursos</a>
        </li>
        <li>
            <a href="/reserves">Lista Reserves</a>
        </li>
        <li>
            <a href="/notificacions">Lista Notificacions</a>
        </li>
    </ul>
</body>

</html>