<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <header>
        <h1>Gestió de Notificacions per <%= user.name %>!</h1>
    </header>
    <main>
        <section>
            <h2>Detalls de Notificació</h2>
            <ul class="reserves-list">
                <li class="product-item">
                    <strong>Notificació ID: <%= notificacio.id %></strong>
                    <span>User ID: <%= notificacio.user_id %></span>
                    <span>Reserva ID: <%= notificacio.id_reserva %></span>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>
