<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type= "text/css" href="../style.css">
</head>

<body>
    <header>
        <h1>Gestió de Productes per <%= user.name %>!</h1>
    </header>
    <main>
        <section>
            <h2>Llista de Productes</h2>
            <ul class="product-list">
                    <li class="product-item">
                        <strong><%= product.nombre %></strong>
                        <span>Categoria: <%= product.categoria %></span>
                        <span>Preu: €<%= product.precio %></span>
                    </li>
            </ul>
        </section>
    </main>
</body>
</html>