<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvingut</title>
    <link rel="stylesheet" type= "text/css" href="../style.css">
</head>

<body>
    <header>
        <h1>Gestió de Recursos per <%= user.name %>!</h1>
    </header>
    <main>
        <section>
            <h2>Llista de Recursos</h2>
            <ul class="recursos-list">
                    <li class="product-item">
                        <strong>Recurso ID: <%=recurso.id  %></strong>
                        <span>Hora inici: <%= recurso.hora_inici %></span>
                        <span>Hora final :<%= recurso.hora_final %></span>
                    </li>
            </ul>
        </section>
    </main>
</body>
</html>